body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

.main_section {
  background-color: #faf2da;
  margin: 0px;
  /* height: 200px;
  width: 200px;
  border: solid 10px; */
  padding-top: 50px;
}
h1 {
  margin: 50px 0 0 0;
  font-family: "Sacramento", cursive;
  font-size: 6em;
  color: #8e9775;
}
h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #8e9775;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #4a503d;
}
a {
  color: #4a503d;
}
p {
}
.profile-image {
  border-radius: 50%;
}
.subtitle {
  font-weight: normal;
}
.top-cloud {
  position: relative;
  left: 200px;
}

.bottom-cloud {
  position: absolute;
}
/* .developer-icon {
  width: 25%;
} */
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.front-end-icon {
  width: 20%;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px;
}
.back-end-icon {
  width: 20%;
  float: right;
  padding-left: 30px;
  padding-bottom: 30px;
}
.bottom-section {
  background-color: #e28f83;
  padding: 5em;
}
